$primaryColor: #FFDF76;
$dangerColor: #bb3633;

$blackColor: #111111;
$whiteColor: #ffffff;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  color: $blackColor;
  font-family: 'Open Sans', sans-serif;
}

svg.feather-icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.possibilities-pwa {
  padding-top: 50px;
}

@import "components/header";
@import "components/navigation";
@import "views/base";
@import "views/overview";
@import "views/system";
@import "views/camera";
@import "views/geolocation";
@import "views/touch-gestures";
