.sidebar-menu {
  width: 250px;
  height: calc(100vh - 50px);
  background-color: $whiteColor;
  position: fixed;
  top: 50px;
  left: -250px;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(17, 17, 17, 0.18);
  transition: 300ms cubic-bezier(0.4, 0.0, 0.2, 1);

  &--open {
    left: 0;
  }

  &__item {
    height: 50px;
    padding: 0 20px;
    border-left: 3px solid $whiteColor;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    cursor: pointer;

    &:hover, &.router-link-exact-active {
      background: rgba($primaryColor, .15);
      border-color: $primaryColor;
    }

    > svg {
      margin-right: 12px;
      stroke-width: 1px !important;
    }
  }
}