main.overview {
  .overview-item {
    width: 100%;
    border: 1px solid $whiteColor;
    padding: 0 20px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;

    &:hover {
      background: rgba($primaryColor, .15);
      border-color: $primaryColor;
    }

    svg {
      color: red;
      margin-right: 12px;
      stroke-width: 1px !important;

      &.true {
        color: green
      }
    }
  }
}