main.overview {

  .overview-items-list {
    margin-bottom: 20px;
  }

  .name {
    font-size: 1rem;
    margin-bottom: 15px;
    opacity: .5;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      margin-top: 0;
    }
  }

  .overview-item {
    width: 100%;
    border: 1px solid $whiteColor;
    padding: 0 20px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    color: $blackColor;
    text-decoration: none;

    &:hover {
      background: rgba($primaryColor, .15);
      border-color: $primaryColor;
    }

    svg {
      color: red;
      margin-right: 12px;
      stroke-width: 1px !important;

      &.true {
        color: green
      }

      &.external {
        color: $blackColor;
        opacity: .7;
        width: 16px;
        height: 16px;
        margin-left: 10px;
      }
    }
  }

  > a {
    font-size: .85rem;
    color: $blackColor;
    margin-bottom: 10px;
    line-height: 2;
    opacity: .6;
  }
}