.header {
  height: 50px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $primaryColor;
  box-sizing: border-box;
  z-index: 9999999;
  line-height: 50px;
  text-align: center;

  &__back {
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  &__title {
    font-weight: bold;
  }

  &__version {
    position: absolute;
    right: 20px;
    height: 50px;
    top: 0;
    color: darken($primaryColor, 50);
    font-size: 12px
  }
}