.header {
  height: 50px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $primaryColor;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 99;

  &__title {
    font-weight: bold;
  }

  &__version {
    position: absolute;
    right: 20px;
    color: darken($primaryColor, 50);
    font-size: 12px
  }
}