main {
  padding: 20px;
  box-sizing: border-box;

  h1 {
    margin-bottom: 15px;
  }

  p {
    line-height: 1.5;
  }

  button, .button {
    height: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    background: rgba($primaryColor, .15);
    border: 1px solid $primaryColor;

    &--left {
      justify-content: flex-start;
    }

    &.ta-left {
      justify-content: flex-start;
    }
  }
}