.camera {
  padding: 0;
  height: calc(100vh - 50px);

  &__last {
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: white;
    display: flex;

    > div {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__controls {
    position: fixed;
    bottom: 20px;
    left: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;

    button {
      width: 50px;
      padding: 0;
      background-color: $primaryColor;
      margin: 0;
      border-radius: 50%;

      &.image {
        overflow: hidden;
        margin-bottom: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &:focus {
        outline: none;
      }

      &.secondary {
        opacity: .7;
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
      }
    }
  }


  &__info {
    position: absolute;
    left: 10px;
    top: 60px;
    width: 100%;
    overflow-x: scroll;
  }

  &__stream {
    width: 100%;
    height: 100%;
    transform: scale(.5);
    border: 2px solid $blackColor;
  }
}