.camera {
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($blackColor, .5);

  &__last {
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    img {
      width: 70%;
      object-fit: contain;
      border: 1px solid $blackColor;
      transform: translateY(-50px);
    }
  }

  &__open-last {
    position: fixed;
    margin: 0;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    padding: 0;
    overflow: hidden;
    border-radius: 50%;
    border-width: 2px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__take-photo {
    position: fixed;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $primaryColor;
    color: $blackColor;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;

    svg {
      width: 25px;
      height: 25px;
    }

    &:focus {
      outline: none;
    }
  }

  &__canvas {
    display: none;
  }

  &__info {
    position: absolute;
    left: 10px;
    top: 60px;
    width: 100%;
    overflow-x: scroll;
  }

  &__stream {
    width: 100%;
    height: calc(100vh - 55px);
    object-fit: cover;

    &.user {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }

  &__switch {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: $primaryColor;
    border-radius: 50%;
    margin: 0;
    border: none;

    &:focus {
      outline: none;
    }
  }
}