main.geolocation {
  padding: 0;

  #map {
    height: calc(100vh - 50px);
  }

  button {
    position: absolute;
    z-index: 1100;
    left: 20px;
    bottom: 80px;
    width: calc(100vw - 40px);
    background-color: rgba($primaryColor, .9);
    box-shadow: 0 2px 4px rgba($blackColor, .2);
  }
}