.overview {

  &__wrapper {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;

    @media (min-width: 850px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1440px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1920px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .overview-items-list {
    margin-top: 30px;
    border: 1px solid rgba($blackColor, .2);
    border-radius: 10px;
    position: relative;
    padding: 10px 0;
  }

  .name {
    font-size: 1rem;
    opacity: .5;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -25px;
    left: 15px;
    position: absolute;

    &:first-child {
      margin-top: 0;
    }
  }

  .overview-item {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: $blackColor;
    text-decoration: none;

    svg {
      color: $dangerColor;
      margin-right: 12px;
      stroke-width: 1px !important;

      &.true {
        color: $successColor
      }

      &.external {
        color: $blackColor;
        opacity: .7;
        width: 16px;
        height: 16px;
        margin-left: 10px;
      }
    }
  }

  > a {
    font-size: .85rem;
    color: $blackColor;
    margin-bottom: 10px;
    line-height: 2;
    opacity: .6;
    display: block;
  }
}