.system {

  > div {
    margin-bottom: 40px;

    h3 {
      margin-bottom: 20px;
      display: block;
    }
  }

  &__permissions {
    .permissions {
      &__wrapper {

      }

      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        svg {
          height: 18px;
          width: 18px;
          stroke-width: 1px;
          margin-right: 10px;
          margin-bottom: -3px;
        }
      }
    }
  }

  &__not-supported {
    color: $dangerColor;
  }
}