main.system {
  h3 {
    margin-bottom: 10px;
    margin-top: 20px;
    display: block;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    line-height: 1.5;
    span {
      display: inline-block;
      width: 200px;
    }
  }
}