.touch-gestures {
  height: calc(100vh - 50px);

  &__inner {
    > div {
      width: 100px;
      height: 100px;
      background-color: $primaryColor;
      position: absolute;
      left: 10px;
      top: 60px;
    }
  }
}