.touch-gestures {
  height: calc(100vh - 50px);

  &__inner {
    > div {
      width: 170px;
      padding: 10px;
      background-color: $primaryColor;
      position: absolute;
      left: 10px;
      top: 60px;
      border-radius: 4px;
      box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.13);

      p {
        pointer-events: none;

        span {
          display: inline-block;
          width: 90px;
        }
      }
    }
  }
}