main.touch-gestures {
  height: calc(100vh - 50px);
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  svg.feather-icon {
    width: 80px;
    height: 80px;
    stroke-width: 1px;
    margin-bottom: 20px;
    margin-top: 10vh;
  }

  strong {
    text-align: center;
    max-width: 80%;
  }

  hr {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: lighten($blackColor, 80);
    border: none;
    display: block;
    overflow: unset;

    &:before {
      content: '#';
      position: absolute;
      left: 20px;
      top: 2px;
      background-color: lighten($primaryColor, 10);
      padding: 5px 10px;
      display: block;
    }

    &.one {
      bottom: 150px;

      &:before {
        content: '1';
      }
    }

    &.two {
      bottom: 350px;

      &:before {
        content: '2';
      }
    }
  }
}