$primaryColor: #FFDF76;

$blackColor: #111111;
$whiteColor: #ffffff;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  color: $blackColor;
  font-family: 'Open Sans', sans-serif;
}

main {
  margin-top: 50px;
  padding: 20px;
  box-sizing: border-box;

  h1 {
    margin-bottom: 15px;
  }

  p {
    line-height: 1.5;
  }
}

@import "components/nav-bar";
@import "components/sidebar-menu";
